<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cacheManager" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
    </configSections>

    <cacheManager xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache>
                <handle name="h1" ref="memGeneric"/>
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="memGeneric"
                       type="Slant.Caching.Manager.MemoryCache.MemoryCacheHandle`1, Slant.Caching.Manager.MemoryCache"/>
        </cacheHandles>
    </cacheManager>
</configuration>