<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cacheManager" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
    </configSections>

    <cacheManager xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
        </managers>
        <cacheHandles>
        </cacheHandles>
    </cacheManager>
</configuration>