<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cacheManager" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
        <section name="cacheManager2" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
        <section name="cacheManager3" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
        <section name="cacheManager4" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
    </configSections>

    <!-- invalid (non existing) type -->
    <cacheManager xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache name="configName">
                <handle name="handle1" ref="h1"/>
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="h1" type="MyType.SometypeWichDoesNotExist"/>
        </cacheHandles>
    </cacheManager>

    <!-- number of generic arguments invalid (expecting only one) -->
    <cacheManager2 xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache name="configName">
                <handle name="handle1" ref="h1"/>
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="h1" type="Slant.Caching.Manager.Internal.DictionaryCacheHandle`1[[System.Object]], Slant.Caching.Manager"/>
        </cacheHandles>
    </cacheManager2>

    <!-- handle type is not of type BaseCacheHandle -->
    <cacheManager4 xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache name="configName">
                <handle name="handle1" ref="h1"/>
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="h1" type="System.Collections.Generic.List`1[[System.Object]]"/>
        </cacheHandles>
    </cacheManager4>
</configuration>