<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cacheManager" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
    </configSections>

    <cacheManager xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache name="MemoryCacheAbsoluteExpire" updateMode="Up" enableStatistics="true">
                <handle ref="MemoryCacheAbsoluteExpireHandle" name="myHandle" expirationMode="Absolute" timeout="1s"/>
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="MemoryCacheAbsoluteExpireHandle"
                       type="Slant.Caching.Manager.MemoryCache.MemoryCacheHandle`1, Slant.Caching.Manager.MemoryCache"/>
        </cacheHandles>
    </cacheManager>
</configuration>
