<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cacheManager" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
    </configSections>

    <cacheManager xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache name="c1" updateMode="Up">
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="memGeneric"
                       type="Slant.Caching.Manager.MemoryCache.MemoryCacheHandle`1, Slant.Caching.Manager.MemoryCache"
                       defaultExpirationMode="Sliding" defaultTimeout="20h"/>
            <handleDef id="memObjectDefined"
                       type="Slant.Caching.Manager.MemoryCache.MemoryCacheHandle`1[[System.Object]], Slant.Caching.Manager.MemoryCache"
                       defaultExpirationMode="ThisIsInvalid" defaultTimeout="20m"/>
        </cacheHandles>
    </cacheManager>
</configuration>