<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cacheManager" type="Slant.Caching.Manager.Configuration.CacheManagerSection, Slant.Caching.Manager"/>
    </configSections>

    <cacheManager xmlns="https://jonnify.com/schemas/SlantCacheManager.xsd">
        <managers>
            <cache name="configName">
                <handle name="handle1" ref="h1"/>
            </cache>
        </managers>
        <cacheHandles>
            <handleDef id="h1"/>
        </cacheHandles>
    </cacheManager>
</configuration>